@page "/Abp/DynamicMenu/MenuItems/MenuItem"
@attribute [Authorize(DynamicMenuPermissions.MenuItem.Default)]
@using EasyAbp.Abp.DynamicMenu.Localization
@using EasyAbp.Abp.DynamicMenu.MenuItems
@using EasyAbp.Abp.DynamicMenu.MenuItems.Dtos
@using EasyAbp.Abp.DynamicMenu.Permissions
@using Volo.Abp.BlazoriseUI.Components
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components.Web.Theming
@using Volo.Abp.BlazoriseUI.Components.ObjectExtending
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@inject AbpBlazorMessageLocalizerHelper<DynamicMenuResource> LH

@inherits AbpCrudPageBase<IMenuItemAppService, MenuItemDto, string, GetMenuItemListInput, CreateMenuItemDto, UpdateMenuItemDto>
<Card>
    <CardHeader>
        @* ************************* PAGE HEADER ************************* *@
        <PageHeader Title="@L["Roles"]"
                    BreadcrumbItems="@BreadcrumbItems"
                    Toolbar="@Toolbar">
        </PageHeader>
    </CardHeader>
    <CardBody>
        @* ************************* DATA GRID ************************* *@
        <AbpExtensibleDataGrid TItem="MenuItemDto"
                               Data="@Entities"
                               ReadData="@OnDataGridReadAsync"
                               TotalItems="@TotalCount"
                               ShowPager="true"
                               PageSize="@PageSize"
                               CurrentPage="@CurrentPage"
                               Columns="@MenuItemTableColumns">
        </AbpExtensibleDataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
@if (HasCreatePermission)
{
    <Modal @ref="CreateModal" Closing="@ClosingCreateModal">
        <ModalContent Centered="true">
            <Form>
                <ModalHeader>
                    <ModalTitle>@L["NewMenuItem"]</ModalTitle>
                    <CloseButton Clicked="CloseCreateModalAsync"/>
                </ModalHeader>
                <ModalBody>
                    <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["DisplayName:Name"] *</FieldLabel>
                                <TextEdit @bind-Text="@NewEntity.Id" Autofocus="true">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                            <Field>
                                <FieldLabel>@L["DisplayName:DisplayName"] *</FieldLabel>
                                <TextEdit @bind-Text="@NewEntity.DisplayName" Autofocus="true">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                            <ExtensionProperties TEntityType="CreateMenuItemDto" TResourceType="DynamicMenuResource" Entity="@NewEntity" LH="@LH" ModalType="ExtensionPropertyModalType.CreateModal" />
                        </Validation>
                        <Field>
                            <Check TValue="bool" @bind-Checked="@NewEntity.InAdministration">@L["DisplayName:InAdministration"]</Check>
                            <Check TValue="bool" @bind-Checked="@NewEntity.IsPublic">@L["DisplayName:IsPublic"]</Check>
                            <Check TValue="bool" @bind-Checked="@NewEntity.IsDisabled">@L["DisplayName:IsDisabled"]</Check>
                        </Field>
                    </Validations>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Primary" Outline Clicked="CloseCreateModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Clicked="@CreateEntityAsync"/>
                </ModalFooter>
            </Form>
        </ModalContent>
    </Modal>
}
@* ************************* EDIT MODAL ************************* *@
@if (HasUpdatePermission)
{
    <Modal @ref="EditModal" Closing="@ClosingEditModal">
        <ModalContent Centered="true">
            <Form>
                <ModalHeader>
                    <ModalTitle>@L["Edit"]</ModalTitle>
                    <CloseButton Clicked="CloseEditModalAsync"/>
                </ModalHeader>
                <ModalBody>
                    <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                        <input type="hidden" name="ConcurrencyStamp" @bind-value="EditingEntity.ConcurrencyStamp"/>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["DisplayName:Name"] *</FieldLabel>
                                <TextEdit @bind-Text="EditingEntity.Id" Autofocus="true">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                            <Field>
                                <FieldLabel>@L["DisplayName:DisplayName"] *</FieldLabel>
                                <TextEdit @bind-Text="EditingEntity.DisplayName" Autofocus="true">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                            <ExtensionProperties TEntityType="UpdateMenuItemDto" TResourceType="DynamicMenuResource" Entity="@EditingEntity" LH="@LH"  ModalType="ExtensionPropertyModalType.EditModal" />
                        </Validation>
                        <Field>
                            <Check TValue="bool" @bind-Checked="@EditingEntity.InAdministration">@L["DisplayName:InAdministration"]</Check>
                            <Check TValue="bool" @bind-Checked="@EditingEntity.IsPublic">@L["DisplayName:IsPublic"]</Check>
                            <Check TValue="bool" @bind-Checked="@EditingEntity.IsDisabled">@L["DisplayName:IsDisabled"]</Check>
                        </Field>
                    </Validations>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Primary" Outline Clicked="CloseEditModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Clicked="@UpdateEntityAsync"/>
                </ModalFooter>
            </Form>
        </ModalContent>
    </Modal>
}